<!--<div>
        <br>
        <form [formGroup]="form">
            <br>
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="usuario" #message maxlength="100" placeholder="Usuario">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="clave" #message maxlength="100" placeholder="Contraseña"
                        type="password">
                </mat-form-field>
                <button [disabled]="!form.valid" (click)='onLoginClick()' mat-fab color="primary">
                    <mat-icon>send</mat-icon>
                </button>

            </div>
        </form>
    </div> -->

<!--Prueba-->
<div id="contenedor">

  <div id="contenedorcentrado">
    <div id="login">
      <form [formGroup]="form">
        <br>
        <div>
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="usuario" #message maxlength="100" placeholder="Usuario">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="clave" #message maxlength="100" placeholder="Contraseña" [type]="show ? 'text' : 'password'">
            <button matSuffix mat-icon-button (click)="password()">
              <mat-icon class="noback">visibility</mat-icon>
            </button>
          </mat-form-field>
          <button class="verde" [disabled]="!form.valid" (click)='onLoginClick()'>
            <mat-icon style="color: black;">send</mat-icon>
          </button>

        </div>
      </form>

    </div>
    <div id="derecho">
      <div class="titulo">
        Bienvenido
      </div>
      <hr>
      <div class="pie-form">
        <a (click)="move('registro')">¿No tienes Cuenta? Registrate</a>
        <hr>
        <a (click)="move('cards')">« Volver</a>
      </div>
    </div>
  </div>
</div>
