<app-carousel [items]="carouselData"></app-carousel>


<div style="margin-top: 6px;" fxLayout="row">

    <div class="filtro" style="width: 15%; margin-left: 3%;">
      <button mat-menu-item (click)="filtrar_Categoria(0)" style="cursor: pointer">
        <h1>Categorias</h1>
      </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="filtrar_Categoria(p.codigo)"  *ngFor="let p of lstCatCodigo" style="cursor: pointer">
          <span>{{p.nombre}}</span>
        </button>
        <mat-divider></mat-divider>
    </div>

    <div style="width: 80%;" class="tarjetas">
      <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let dato of obs | async">
          <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <img mat-card-avatar src="http://localhost:8181/api/producto/imagen/{{dato.codigo}}" onerror="this.src='../../../assets/images/not.png'"  alt="">
              <mat-card-title>{{dato.nombre}}</mat-card-title>
              <mat-card-subtitle>{{dato.stock}} - {{dato.categoria.nombre}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{dato.descripcion}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button [routerLink]="['/producto', dato.codigo]" mat-button>Ver más</button>
              <button (click)="setProducto(dato)" mat-button><mat-icon>add_shopping_cart</mat-icon>Agregar al carrito</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        <mat-form-field style="right: 80%;position: absolute;">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="filtrar($event)" placeholder="buscar">
        </mat-form-field>
        <mat-paginator [pageSizeOptions]="[3, 9, 15, 21]">
        </mat-paginator>
      </mat-grid-list>
    </div>
    <!-- <div class="card">
        <div class="card-header">
            <h3><strong>Proceso de homologación de un estudiante</strong></h3>
        </div>
        <div class="card-body">
            <h1>Baquero  no me ve editando codigo Hermano?</h1>
        </div>
    </div> -->

</div>
