<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        <button mat-menu-item routerLink="/cards" style="cursor: pointer; width: min-content;">
          <img src="assets/images/E-Commerce2.png" width="128" style="margin-left: 20px">
        </button>
        <span class="example-spacer"></span>
        <app-cards></app-cards>
        <!-- <button mat-icon-button [matMenuTriggerFor]="menucarrito">
          <mat-icon>shopping_cart</mat-icon>
      </button> -->
      <!-- <span *ngFor="let item of productos">-->
      <button mat-icon-button routerLink="/carrito" >
        <mat-icon>shopping_cart</mat-icon>
      </button>
        <!-- {{productos[0].codigo}} -->
          <!-- <app-menu-item #menu [items]="item.children"></app-menu-item> -->
      <!-- </span> -->

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/perfil" *ngIf="!sesion">
                <mat-icon>account_box</mat-icon>
                <span>Mi Perfil</span>
            </button>
            <button mat-menu-item routerLink="/login" *ngIf="sesion">
                <mat-icon>exit_to_app</mat-icon>
                <span>Inicia Sesión</span>
            </button>
            <button mat-menu-item routerLink="/registro" *ngIf="sesion">
              <mat-icon>account_box</mat-icon>
              <span>Registrate</span>
            </button>
            <button mat-menu-item (click)="closeS()" *ngIf="!sesion">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar sesion</span>
            </button>
        </mat-menu>
        <!-- <mat-menu #menucarrito="matMenu" *ngFor="let producto of carrito">
          <button mat-menu-item routerLink="/carrito" *ngIf="!sesion">

            <span>Mi Perfil</span>
        </button>
        </mat-menu> -->
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px" mode="over">
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/productos" style="cursor: pointer">
              <img src="assets/images/E-Commerce2.png" width="128" style="margin-left: 20px">
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/productos" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Productos</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/categoria" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Categoria.</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/cupones" style="cursor: pointer">
              <mat-icon>insert_drive_file</mat-icon>
              <span>Cupones.</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/perfiles" style="cursor: pointer">
              <mat-icon>insert_drive_file</mat-icon>
              <span>Perfiles.</span>
            </button>
            <button mat-menu-item (click)="closeS()"
                style="cursor: pointer; bottom: 5px; position: absolute;" *ngIf="!sesion">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar sesion</span>
            </button>

        </mat-sidenav>

        <mat-sidenav-content>

            <router-outlet></router-outlet>


        </mat-sidenav-content>

    </mat-sidenav-container>
    <footer id="footer" class="py-2" style="background-color: #F07319; color: white;">
        <div class="container text-center">
            <p>
                &copy; ecommerce 2021 . Todos los derechos reservados. - Conoce nuestra Política de privacidad. - Política de Datos.

            </p>
            <p>
                E-mail: info@ecommerce.com.co - Teléfono: 01 8000 942 434
            </p>
        </div>
    </footer>
</div>
